[Desktop Entry]
Comment=OpenFDE
Exec=/opt/apps/com.openfde.manager/usr/bin/openfde-manager
Name=OpenFDE Manager
Name[zh_CN]=OpenFDE管理中心
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;
Icon=/usr/share/icons/hicolor/scalable/apps/openfde-manager.svg
